  <h2>Existing Users</h2>
    <ul style="display: inline-block; text-align: left; padding-right: 30px;">
      <% users.each do |user| %>
        <li style="text-align: left;"> <%="#{user.email}"%></li>
      <% end %>
    </ul>